/* animasi */




/* judul teks */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #3d7ea6;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #5c969e;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
/* font */
@font-face{
    font-family: spartan;
    src: url(../font/LeagueSpartan-Bold.otf);
}




/* style */
*{
  margin: 0;
  padding: 0;
}

.main{
    
    height: 5000px;
    background-color: #ffa5a5;
    margin: 0 auto;
    
}

.image1{
    background-image: url(../image/luhdian1.png);
    height: 999px;
    background-repeat: no-repeat;
    background-position: 50% 600px;
    border: 2px ;
}
h3{
    text-align: center;
    color: #fcdada;
    font-family: spartan;
}

.teks_kanan{
  margin-left: -80px;
}
div{
  border: 2px solid #000000;
}
/* aos */
#div{
  display: flex;
  justify-content: center;
  align-items: center;
}




.img1{
  background-image: url(../image/luh_dian_2_150x.jpg);
  background-repeat: no-repeat;
  height: 300px;
  margin: 50px 0 0 10px;
}

.img2{
  background-image: url(../image/luh\ dian\ 3.jpg);
  background-repeat: no-repeat;
  height: 150px;
  margin: 50px 10px 0 0;
  background-position-x: right;
}
h4{
  color: #3d7ea6;
  text-align: center;
  font-family: sparta, 'sans-seri';
  text-shadow: 2px 2px 4px black;
  font-size: 30px;
}

.img3{
  background-image: url(../image/luh\ dian\ 4.jpg);
  background-repeat: no-repeat;
  height: 150px;
  margin: 50px 10px 0 0;
  background-position-x: left;
}

.img4{
  background-image: url(../image/si\ rajin.jpg);
  background-repeat: no-repeat;
  height: 150px;
  margin: 50px 10px 0 0;
  background-position-x: right;
}